@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.product-carousel {
  .slick-prev,
  .slick-next {
    width: 40px;
    height: 40px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.3s ease;
  }

  .slick-prev:hover,
  .slick-next:hover {
    background-color: #ff0; /* Your primary yellow color */
  }

  .slick-prev {
    left: 10px;
  }

  .slick-next {
    right: 10px;
  }

  .slick-prev:before,
  .slick-next:before {
    font-size: 20px;
    color: #333;
  }

  .slick-dots {
    bottom: 10px;
  }

  .slick-dots li button:before {
    font-size: 12px;
    color: #fff;
  }

  .slick-dots li.slick-active button:before {
    color: #fff;
  }

  .slick-slide {
    padding: 0 10px; /* Adds gap between slides */
  }

  .product-card {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;

    &:hover {
      transform: translateY(-10px);
    }

    .thumbnail {
      img {
        width: 100%;
        border-radius: 10px;
      }
    }

    .name {
      margin-top: 10px;
      font-weight: bold;
      color: #333;
      text-align: center;
    }

    .price {
      margin-top: 5px;
      color: #ff0;
      font-weight: bold;
      text-align: center;
    }
  }
}
