.side-upper-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%; /* Change height to 100% for below large devices */
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1d1d1d;
    @media (min-width: 768px) {
        height: 100%; /* Change height to 50% for large devices */
    }
}

.content-container {
    width: 100%;
    @media (min-width: 768px) {
        width: 50%;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-xl {
    font-size: 1.25rem;
}

.md\:text-4xl {
    @media (min-width: 768px) {
        font-size: 2.25rem;
    }
}

.text-lg {
    font-size: 1.125rem;
}

.md\:text-3xl {
    @media (min-width: 768px) {
        font-size: 1.875rem;
    }
}

.text-2xl {
    font-size: 1.5rem;
}

.md\:text-5xl {
    @media (min-width: 768px) {
        font-size: 3rem;
    }
}

.font-extrabold {
    font-weight: 800;
}

.font-\[1000\] {
    font-weight: 1000;
}

.text-white {
    color: #fff;
}

.text-primaryYellow {
    color: #ffd700; /* Adjust the color as needed */
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.shop-now-button {
    background-color: #ffd700; /* Adjust the color as needed */
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    @media (min-width: 768px) {
        font-size: 1.25rem;
    }
    padding: 0.25rem 0.5rem;
    @media (min-width: 768px) {
        padding: 0.5rem 1rem;
    }
    border-radius: 0.375rem;
    margin-left: 0.25rem;
    @media (min-width: 768px) {
        margin-left: 1rem;
    }
}

.image-container {
    width: 50%;
}

.gear-image {
    width: 100%;
}
